<!doctype html>
<title>MINITOWN</title>
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='MI_NI.png') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel=stylesheet href="{{ url_for('static', filename='style.css') }}">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<header>
    <div class="logo">
        <a href="/">MINITOWN</a>
    </div>
</header>
<div class="app-body">
    <div class="search-form">
        <form action="{{ url_for('show_results') }}" method=post>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-lg-6">
                        <label for="search_word">キーワード</label>
                        <input type="text" class="form-control" id="search_word" name=search_word placeholder="何かお探しですか？", value={{request_form.search_word}}>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-lg-3">
                        <label for="price_min">最低価格</label>
                        <input type="text" class="form-control price" id="price_min" name=price_min placeholder="円" value={{request_form.price_min}}>
                    </div>
                    <div class="col-lg-3">
                        <label for="price_max">最高価格</label>
                        <input type="text" class="form-control price" id="price_max" name=price_max placeholder="円", value={{request_form.price_max}}>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-lg-3">
                        <label for="sex">性別</label>
                        <select class="form-control" id="sex" name="sex">
                            <option value="all" {% if request_form.sex == "all" %} selected {% endif %}>
                                すべて
                            </option>
                            <option value="men" {% if request_form.sex == "men" %} selected {% endif %}>
                                男性
                            </option>
                            <option value="women" {% if request_form.sex == "women" %} selected {% endif %}>
                                女性
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">検索</button>
        </form>
    </div>
    <br>
    検索結果 {{ result_num }}件
    {% for fashion in fashions %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-2">
                    <img src="{{fashion.image_url }}">
                </div>
                <div class="col-lg-10">
                    <h4 class="card-title">{{ fashion.name | safe }}</h4>
                    <h5 class="card-title">{{ fashion.shop_name }}</h5>
                    <h5 class="card-title">{{ fashion.price }}円</h5>
                    <p class="card-text">{{ fashion.caption | safe }}</p>
                </div>
            </div>
        </div>
    </div>
    {% else %}
        投稿がありません
    {% endfor %}
</div>